*.out
*.o
*.gcno
*.gcda
coverage.info
.bintestfile
.texttestfile
.badfile
coverage_html
.vscode
text.txt
LR3_2025.pdf
arraytest
forwardlisttest
listtest
stacktest
queuetest
hashtabletest
rbtreetest
coverage_go.html
go/index.html
go/coverage.txt
coverage_cpp/
arraybench
forwardlistbench
listbench
hashtablebench
treebench
stackbench
queuebench
*bench.txt
benchmark.txt
main